include/fonts/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.26 2017-09-05 11:50:34"/>
    <doc xmlns:jersey="http://jersey.java.net/" jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://localhost:8080/myapp/application.wadl?detail=true"/>
    <grammars/>
    <resources base="http://localhost:8080/myapp/">
        <resource path="/document/{posApplication}">
            <resource path="/{numDoc}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="numDoc" style="template" type="xs:int"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="posApplication" style="template" type="xs:string"/>
                <method id="getIt" name="GET">
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
            <resource path="/search">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="posApplication" style="template" type="xs:string"/>
                <method id="getIt" name="GET">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
